.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: #fff;
  padding: 2rem 2rem 3rem;
}

.grid {
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  width: 140px;
  margin: 0 0 16px 50px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.player-one, .player-two {
  border-radius: 10px;
}

.player-one {
  background-color: red;
}

.player-two {
  background-color: blue;
}

#result {
  text-align: center;
  margin-bottom: 1rem;
}

#retry {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100px;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  box-shadow: 1px 2px 6px 0px rgba(19, 3, 39, 0.3);
  border: none;
  cursor: pointer;
}