.grid {
	display: flex;
	width: 200px;
	height: 200px;
	border: 1px solid #000;

	flex-wrap: wrap;
}
.grid div {
	width: 20px;
	height: 20px;
}
.snake {
	background-color: blue;
}
.apple {
	background-color: red;
}
