@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
body {
	font-family: 'Playfair Display SC', serif;
	text-align: center;
}
.grid {
	display: flex;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #000;

	flex-wrap: wrap;
}
.grid div {
	width: 20px;
	height: 20px;
}
.snake {
	border-radius: 3px;
	background-color: green;
}
.apple {
	position: relative;
	border-radius: 50%;
	background-color: red;
}
.apple::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -5px;
	left: 7px;
	width: 5px;
	height: 10px;
	background-color: brown;
}
.apple::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: -3px;
	width: 10px;
	height: 10px;
	border-radius: 8px/4px;
	background-color: green;
}
button {
	display: block;
	width: 100px;
	margin: 1rem auto;
	padding: 0.5rem;
	cursor: pointer;
	color: #333;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 1px 2px 6px 0 rgba(19, 3, 39, 0.3);
}
.score {
	margin-bottom: 1rem;
}
