.grid {
	display: flex;
	width: 200px;
	height: 400px;
	background-color: blue;

	flex-wrap: wrap;
}
.previous-grid {
	display: flex;
	width: 80px;
	height: 80px;

	flex-wrap: wrap;
}
.previous-shape {
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	border: 1px solid pink;
}
div {
	width: 20px;
	height: 20px;
	background-color: yellow;
}
.block {
	background-color: blue;
}
.block2 {
	background-color: purple;
}
.block3 {
	background-color: green;
}
