.game-board {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.game {
	width: 200px;
	height: 200px;
}
.grid {
	display: flex;
	width: 200px;
	height: 400px;
	background-color: #fff;
	box-shadow: 1px 1px 10px rgb(214, 214, 214);

	flex-wrap: wrap;
}
.previous-shape {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	height: 200px;
	margin-left: 1rem;
	box-shadow: 1px 1px 10px rgb(214, 214, 214);

	order: 1;
}
.previous-grid {
	display: flex;
	width: 80px;
	height: 80px;

	flex-wrap: wrap;
}
div {
	width: 20px;
	height: 20px;
}
.block,
.block2,
.block3 {
	box-shadow: 1px 1px 5px gray;
}
