@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
body {
	font-family: 'Playfair Display SC', serif;
	text-align: center;
}
.grid {
	display: flex;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border: 1px solid;

	flex-wrap: wrap;
}
.grid div {
	width: 20px;
	height: 20px;
}
button {
	display: block;
	width: 100px;
	margin: 0 auto;
	padding: 0.5rem;
	cursor: pointer;
	color: #333;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 1px 2px 6px 0 rgba(19, 3, 39, 0.3);
}
.ending-block {
	background-color: red;
}
.starting-block {
	background-color: blue;
}
.c1 {
	background-color: black;
}
.c2,
.c3 {
	background-color: grey;
}
.l1,
.l2,
.l3 {
	background-color: brown;
}
.l4,
.l5 {
	background-color: lightblue;
}
.frog {
	background-color: green;
}
